:root{
    --col-w-1: rgb(255,255,255);
    --col-w-1-5: rgb(243, 243, 243);
    --col-w-2: rgba(255,255,255, 0.9);
    --col-w-3: rgba(255,255,255, 0.8);
    --col-w-4: rgba(255,255,255, 0.7);
    --col-w-5: rgba(255,255,255, 0.6);
    --col-w-6: rgba(255,255,255, 0.5);
    --col-w-7: rgba(255,255,255, 0.4);
    --col-w-8: rgba(255,255,255, 0.3);
    --col-w-9: rgba(255,255,255, 0.2);
    --col-w-10: rgba(255,255,255, 0.1);
    
    --col-b-1: rgb(0,0,0);
    --col-b-1-5: rgb(12, 12, 12);
    --col-b-2: rgba(0,0,0, 0.9);
    --col-b-3: rgba(0,0,0, 0.8);
    --col-b-4: rgba(0,0,0, 0.7);
    --col-b-5: rgba(0,0,0, 0.6);
    --col-b-6: rgba(0,0,0, 0.5);
    --col-b-7: rgba(0,0,0, 0.4);
    --col-b-8: rgba(0,0,0, 0.3);
    --col-b-9: rgba(0,0,0, 0.2);
    --col-b-10: rgba(0,0,0, 0.1);
}