*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --col-p-1: rgba(46, 103, 209, 1);
    --col-p-2: rgba(46, 103, 209, 0.9);
    --col-p-3: rgba(46, 103, 209, 0.8);
    --col-p-4: rgba(46, 103, 209, 0.7);
    --col-p-5: rgba(46, 103, 209, 0.6);
    --col-p-6: rgba(46, 103, 209, 0.5);
    --col-p-7: rgba(46, 103, 209, 0.4);
    --col-p-8: rgba(46, 103, 209, 0.3);
    --col-p-9: rgba(46, 103, 209, 0.2);
    --col-p-10: rgba(46, 103, 209, 0.1);
    
    --col-s-1: rgb(46, 209, 81);
    --col-s-2: rgba(46, 209, 81, 0.9);
    --col-s-3: rgba(46, 209, 81, 0.8);
    --col-s-4: rgba(46, 209, 81, 0.7);
    --col-s-5: rgba(46, 209, 81, 0.6);
    --col-s-6: rgba(46, 209, 81, 0.5);
    --col-s-7: rgba(46, 209, 81, 0.4);
    --col-s-8: rgba(46, 209, 81, 0.3);
    --col-s-9: rgba(46, 209, 81, 0.2);
    --col-s-10: rgba(46, 209, 81, 0.1);
    

    --font1: 'Nunito', sans-serif;
    --font2: 'Open Sans', sans-serif;
    --font3: 'Poppins', sans-serif;

}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    min-height: 100vh;
    background-color: var(--col-w-1-5);
}

/* Erreur et Succé */
.erreur{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(240, 46, 46);
    border-radius: 10px;
    color: var(--col-w-1);
    padding: 20px;
    min-width: 300px;
    font-family: var(--font1);
}
.sucess{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(46, 240, 56);
    border-radius: 10px;
    color: var(--col-w-1);
    padding: 20px;
    min-width: 300px;
    font-family: var(--font1);
}