.user-wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font1);
    font-size: 1.2em;
}
.avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: var(--col-p-1) 5px solid;
}
.avatar img{
    width: 100%;
    height: 100%;
}
.line{
    width: 150px;
    height: 2px;
    background-color: var(--col-b-3);
    margin: 20px auto 40px auto;
}
h3{
    font-family: var(--font2);
    color:var(--col-p-2);
    margin-bottom: 10px;
}
.personal-container h4{
    color: var(--col-s-1);
}
.personal-container h6{
    font-style: italic;
}
.personal-container h5, .personal-container h6{
    color: var(--col-b-3);
}
.preference-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 6px;
}
.preference-container span{
    font-weight: 600;
    color:var(--col-s-1);
    align-self: center;
}
.preference-container h5{
    align-self: center;
    color: var(--col-b-2);
}
.message-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
#button, form input[type='submit']{
    background-color: var(--col-p-2);
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
}
.form-container{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}
.open{
    max-height: 1000px;
    transition: all 0.5s linear;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
textarea{
    resize: none;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    background-color: var(--col-b-5);
    color: var(--col-w-3);
    font-family: var(--font1);
    font-size: 0.8em;
}
textarea:focus{
    outline: none;
}